@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');


#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: radial-gradient(100% 125% at 50% 10%, #fff 40%, #63e 100%);
  color: #fa0000;
  font-weight: 300;
  font-family: 'Reddit Mono', monospace;
}

